@import url('https://fonts.googleapis.com/css2?family=Times+New+Roman&display=swap');

/* General Settings */
body, html {
    height: 100%;
    font-family: "Times New Roman", serif;
}

/* Background Image */
.img {
    background: url('https://png.pngtree.com/thumb_back/fh260/background/20230617/pngtree-overview-of-a-modern-luxurious-house-project-in-3d-render-image_3625727.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: blur(8px);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Form Styling */
.form {
    max-width: 270px;
    font-family: "Times New Roman", serif;
    font-weight: normal;
    line-height: 1.625;
    margin: 8px auto;
    padding-left: 16px;
    z-index: 2;
}

h2 {
    font-size: 25px;
    margin-bottom: 8px;
    color: black; /* Set text color to black */
    font-weight: bold; /* Make the text bold */
}

/* Switch Field */
.switch-field {
    display: flex;
    margin-bottom: 36px;
    overflow: hidden;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: #E9F1FA; /* Light blue */
    color: #00ABE4; /* Bright blue */
    font-size: 14px;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color: #00ABE4; /* Bright blue */
    color: #FFFFFF; /* White */
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

/* Input Fields */
.area, .location {
    font-family: "Times New Roman", serif;
    outline: 0;
    background: #E9F1FA; /* Light blue */
    width: 76%;
    border: 1px solid #00ABE4; /* Bright blue */
    margin: 0 0 10px;
    padding: 6px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 600;
    height: 35px;
    border-radius: 5px;
}

/* Submit Button */
.submit {
    background: #00ABE4; /* Bright blue */
    color: #FFFFFF; /* White */
    width: 76%;
    border: 0;
    margin: 25px 0 10px;
    box-sizing: border-box;
    font-size: 15px;
    height: 35px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.submit:hover {
    background-color: #007BB3; /* Darker blue for hover */
}

/* Result Field */
.result {
    background: #E9F1FA; /* Light blue */
    color: #00ABE4; /* Bright blue */
    width: 76%;
    border: 0;
    margin: 25px 0 10px;
    box-sizing: border-box;
    font-size: 15px;
    height: 35px;
    text-align: center;
    border-radius: 5px;
}
